.bg-red{background-color: red;}
.navbar-toggler-icon{color: #fff;font-size: 35px;}
.youtube-logo {margin-top: -68px;}
.a-text {margin-top: -8em;}
.bg-darkred{background-color: rgb(128, 0, 0);}
@media(max-width:767px){.home-section p {
    margin-top: -65px;
}}
@media(max-width:360px){
    .header-section .navbar-brand img {
        width: 220px;
    }
}
@media(max-width:320px){.header-section .navbar-brand img {
    width: 180px;
}}
@media(max-width:288){.header-section .navbar-brand img {
    width: 63px;
}}
@media (max-width: 251px){
.header-section .navbar-brand img {
    width: 138px;
}}
@media (max-width: 223px){
.header-section .navbar-brand img {
    width: 114px;
}}
@media (max-width: 223px){.header-section .navbar .navbar-toggler {
    width: 20px;
}}
